<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/site.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">PetsAlone MVC</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item active">
                        <a class="nav-link text-dark" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" th:href="@{/users/login}">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>



<!-- Content Section -->
<div class="container">
    <main role="main" class="pb-3">
        <section layout:fragment="content">
            <p>This is filled by the content template.</p>
        </section>
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - PetsAlone.Mvc - <a th:href="@{/}">Home</a>
    </div>
</footer>

<!-- Optional Section -->
<th:block layout:fragment="optional" />

</body>
</html>